[review "https://github.com"]
    username = mickaelmallet31
[color]
	ui = auto
[alias]
    co = checkout
    lg = log
    st = status
    br = branch
    loo = log --pretty=oneline --abbrev-commit
    lol = log --graph --decorate --pretty=oneline --abbrev-commit HEAD...HEAD~20
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[core]
	editor = vi
[merge]
	tool = kdiff3
[diff]
    tool = meld
[url "ssh://github.com/"]
    insteadof=ssh://github.com/
[url "https://mickaelmallet31@github.com/"]
    insteadof=https://github.com/
