.ICEauthority
.Xauthority
.Xdefaults
.apport-ignore.xml
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dmrc
.gconf/
.gitconfig
.local/
.mozilla/
.mysql_history
.openshot/
.profile
.purple/
.ssh/
.sudo_as_admin_successful
.thumbnails/
.thunderbird/
.vim/
.viminfo
.vimrc
.wget-hsts
.xscreensaver
.xsession-errors
Bureau/
Documents/
Musique/
"T\303\251l\303\251chargements/"
"Vid\303\251os/"
thumbnail/
